#elmish-app {
    overflow: auto;
}

body {
    background-image: url('blackboard.png');
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@font-face {
    font-family: "Chawp";
    src: url('chawp.ttf');
}

#water-history {
    color: #fff;
    text-decoration-line: none;
    text-decoration-line: underline;
}