<!DOCTYPE html>
<html lang="<%= locale %>>">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>&#176;C <%= current_lake.html_name() %></title>
    <link rel="stylesheet" href="/css/main.css" media="screen">
</head>
<body>
<div id="container">
    <form>
        <!--suppress HtmlFormInputWithoutLabel -->
        <select id="lake-dropdown">
            <%- lakes.each do |lake| -%>
            <option value="<%= lake.path_name() %>" <%- if lake.id == current_lake.id -%>selected=""<%- end -%>><%= lake.html_name() %></option>
            <%- end -%>
        </select>
    </form>
    <div class="grid-item" style="">
        <span id="water-temperature-header"><%= I18n.t("constant.water") %> (&#176;C)</span><br>
        <a href="https://sos-de-fra-1.exo.io/wooglife/<%= current_lake.id %>.svg"
           id="water-history" title="history"><%= I18n.t("constant.water_history") %></a>
        <span id="data-updated-time">
            <%= current_lake.formatted_time() %>
        </span><br>
        <span id="timezone" title="timezone"><%= I18n.t("constant.local_time_indicator") %> <%= current_lake.town() %></span><br>
        <p id="lake-water-temperature">
            <%= current_lake.data.preciseTemperature %>&#176;
        </p>
        <div id="lake-tides">
            <table>
            <%- tides.each do |tide| -%>
                <tr>
                    <td class="tide-info"><% if tide.isHighTide %><%= I18n.t("constant.hightide") %><% else %><%= I18n.t("constant.lowtide") %><% end %></td>
                    <td class="tide-time"><%= tide.formatted_time(current_lake.timeZoneId) %></td>
                    <td class="tide-height">(<%= tide.height %>m)</td>
                </tr>
            <%- end -%>
            </table>
        </div>
    </div>
</div>

<script>
addEventListener("change", (_) => {
    const e_select = document.getElementById("lake-dropdown");
    const uuid =e_select.options[e_select.selectedIndex].value;

    window.location.pathname = "/" + uuid;
})
</script>
<a rel="me" style="display: none" href="https://mastodon.social/@wooglife">Mastodon</a>
</body>
</html>
